.cont2{
    padding-top: 75px;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box{
    color: #fefefe;
    background-color: #6dc7b7;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px;
    width: 70vh;
}

fieldset{
    border: 3px solid #0d3834;
    border-radius: 8px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}
legend{
    float: none;
    border: 1px solid #0d3834;
    padding: 10px;
    text-align: center;
    background-color: #0d3834;
    border-radius: 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 8px;
}
.inputbox{
    position: relative;
    z-index: 1;
}
.inpNome {
    margin-top: -30px;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid #fefefe;
    outline: none;
    color: #fefefe;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

#textarea{
    background: none;
    border: 1px solid #fefefe;
    border-radius: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
    margin: -3px;
    outline: none;
    color: #fefefe;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;

}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #0d3834;
}

#submit{
    background-color: #0d3834;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fefefe;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
}

#submit:hover{
background-color: #0d3834;}


@media (max-width: 1058px) {
    .box {
        margin-top: 50px;
    }
}

@media (max-width: 775px) {
    .box {
        margin-top: 150px;
    }
}

@media (max-width: 500px) {
    .box {
        margin-top: 50px;
    }
}

@media (max-width: 431px) {
    .box {
        margin-top: 150px;
    }
}