

.item img{
    margin-top: 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #5d5d5d;
}

.item p{
    margin-left: 15px;
    margin-top: 20px;
    text-align: justify;
}

.item h1{
    margin-left: 15px;
    margin-top: 5px;
}

.item h2{
    
    margin-left: 15px;
}

.item h3{
    margin-left: 15px;
}

.item h4{
    margin-left: 15px;
}

.item h5{
    
    margin-left: 15px;
}