header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

header .container{
    max-height: 70px;
}

.menu{
    margin-top: -10px;
}

.menu img{
    max-height: 80px;
    float: left;
    padding-bottom: 15px;
    padding-top: 10px;
    background-color: #0d3834;
    box-shadow: 0px 0px 5px 0px #5d5d5d;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px;
}

.navbar{
    padding: 20px 0;
    top: -25px;
}

.nav-item {
    margin: -1px;
    font-weight: 800;
    text-transform: uppercase;
    backdrop-filter: blur(20px);
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: #6dc7b7;
    color: #0d3834;
}

.navbar-light .navbar-nav .nav-item .nav-link{    
    color: #0d3834;
    padding: 5px 20px;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #6dc7b7;
    border: 2px solid #0d3834;
    border-radius: 0;
    outline: none;
    width: 100px !important;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
}


@media (min-width: 991px) {
    .menuAj{
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (max-width: 992px) {
    .navbar-collapse{
        background: #fff;       
    }
}

@media (max-width: 992px) {
    .menu img{
        max-height: 70px;
        float: left;
        padding-bottom: 15px;
        padding-top: 10px;
        background-color: #0d3834;
        box-shadow: 0px 0px 5px 0px #5d5d5d;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 10px;
    }
}

@media (max-width: 400px) {
    .menu img{
        display: none;
    }

    .navbar-light .navbar-toggler {
        margin-top: 15px;
    }
}